<section class="h-[100vh] w-[100%]">
  <div class="lg:grid flex lg:grid-cols-2 h-[100%]">
    <div class="items-center justify-center hidden w-full h-full lg:flex">
      <img src="../../../assets/img/auth_img.png" alt="auth_img" />
    </div>
    <div
      class="bg-gradient-to-tr from-tradeX-blueBlack-500 to-cyan-600 w-[100%] flex justify-center items-center"
    >
      <div
        class="bg-white w-[65%] rounded-md shadow-2xl shadow-white/40 px-5 py-8"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
