<div class="{{ opened }}">
  <div class="flex items-center justify-between p-5">
    <h1
      [hidden]="!openNav"
      class="font-bold text-transparent bg-gradient-to-tr from-tradeX-blueBlack-500 to-cyan-500 bg-clip-text"
    >
      TradeX
    </h1>
    <div
      class="p-2 duration-200 ease-in-out text-cyan-700"
      (click)="toggleSideNav()"
    >
      <mat-icon *ngIf="openNav">zoom_in_map</mat-icon>
      <mat-icon *ngIf="!openNav">zoom_out_map</mat-icon>
    </div>
  </div>
  <div class="mt-20"></div>
  <div class="flex flex-col justify-between h-[80vh]">
    <div class="p-5 space-y-4">
      <a
        routerLink="/admin/trades"
        class="flex items-center p-1 rounded-md cursor-pointer hover:bg-white hover:text-tradeX-blueBlack-500"
      >
        <mat-icon>timeline</mat-icon>
        <h1
          [hidden]="!openNav"
          class="ml-4 text-2xl"
          [ngClass]="{ 'scale-0 truncate': !openNav }"
        >
          Trades
        </h1>
      </a>
      <a
        routerLink="/admin/customers"
        class="flex flex-wrap items-center p-1 rounded-md cursor-pointer hover:bg-white hover:text-tradeX-blueBlack-500"
      >
        <mat-icon>family_restroom</mat-icon>
        <h1 [hidden]="!openNav" class="ml-4 text-2xl">Customers</h1>
      </a>
      <a
        routerLink="/admin/logs"
        class="flex items-center p-1 rounded-md cursor-pointer hover:bg-white hover:text-tradeX-blueBlack-500"
      >
        <mat-icon>query_stats</mat-icon>
        <h1
          [hidden]="!openNav"
          class="ml-4 text-2xl"
          [ngClass]="{ 'scale-0 truncate': !openNav }"
        >
          Logs
        </h1>
      </a>
      <a
        routerLink="/admin/exchanges"
        class="flex items-center p-1 rounded-md cursor-pointer hover:bg-white hover:text-tradeX-blueBlack-500"
      >
        <mat-icon>currency_exchange</mat-icon>
        <h1 [hidden]="!openNav" class="ml-4 text-2xl">Exchanges</h1>
      </a>
    </div>
    <div class="p-5">
      <a
        (click)="logout()"
        class="flex items-center p-1 rounded-md hover:bg-white hover:text-tradeX-blueBlack-500"
      >
        <mat-icon>logout</mat-icon>
        <h1
          [hidden]="!openNav"
          class="ml-4 text-2xl cursor-pointer"
          [ngClass]="{ 'scale-0 truncate': !openNav }"
        >
          Logout
        </h1>
      </a>
    </div>
  </div>
</div>
