<div>
  <app-top-nav [page]="page"></app-top-nav>
  <div class="p-5">
    <!-- trending stocks container -->
    <div
      class="h-[12rem] bg-white rounded-md w-[100%] shadow-tradeX-box-shadow p-3"
    >
      <h1 class="text-2xl">Trending Stocks</h1>
    </div>
    <div class="mt-5"></div>
    <!-- trading view and form -->
    <div class="flex gap-4">
      <div
        class="w-[60%] bg-white justify-center flex items-center shadow-tradeX-box-shadow"
      >
        Trading view
      </div>
      <!-- form -->
      <div class="w-[40%] bg-white rounded-md p-4 shadow-tradeX-box-shadow">
        <label for="portfolio">Select Portfolio</label>
        <select name="portfolio" [(ngModel)]="portfolioId">
          <option value="">Select Portfolio</option>
          <option
            *ngFor="let portfolio of portfolios"
            [value]="portfolio.portfolioId"
          >
            {{ portfolio.name }}
          </option>
        </select>
        <form #placeOrder="ngForm">
          <div class="mt-2"></div>
          <label for="product">Select Stock</label>
          <select name="product" ngModel>
            <option value="">Select Stock</option>
            <option *ngFor="let stock of stocks" [value]="stock">
              {{ stock }}
            </option>
          </select>
          <div class="mt-2"></div>
          <label for="type">Trade Type</label>
          <select name="type" ngModel>
            <option value="">Select Trade Type</option>
            <option *ngFor="let tradeType of tradeTypes" [value]="tradeType">
              {{ tradeType }}
            </option>
          </select>
          <div class="mt-2"></div>
          <label for="quantity">Quantity</label>
          <input required type="text" name="quantity" ngModel />
          <div class="mt-2"></div>
          <label for="price">Amount</label>
          <input type="text" name="price" ngModel />
          <div class="mt-8"></div>
          <div class="flex justify-center gap-20">
            <button
              (click)="sell(placeOrder.value)"
              class="px-10 py-3 text-white duration-150 bg-red-600 rounded-md hover:scale-110"
            >
              Sell
            </button>
            <button
              type="submit"
              (click)="buy(placeOrder.value)"
              class="px-10 py-3 text-white duration-150 bg-green-500 rounded-md hover:scale-110"
            >
              Buy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
